.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #0a0a0a;
    text-align: center;
    font-family: cursive;
    /* align-items: center; */
}

.nav {
  margin: 0 0 30px;
  background-color: #0772b5;
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #0772b5;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: rgb(13, 120, 91);
}

.nav-right {
  float: right;
}